<div class="container">
  <br>
  <br>
  <h3>Choose your dream:</h3>
  <br>
  <div class="cards">
    <% @dreams.each do |d| %>
      <% url = d.photo.file.nil? ? image_url("inception.png") : cl_image_path(d.photo) %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('<%= url %>')">
          <div class="card-content">
            <h1><strong><%= d.title  %></strong> </h1>
            <p><%= d.category %></p>
            <p style="font-size: 33px">$<%= d.price %></p>
            <%= link_to 'Show', dream_path(d.id) %>
            <%= link_to 'Edit', edit_dream_path(d) %>
            <%= link_to 'Destroy', d, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      <% end %>
    </div>
    <br>
    <%= link_to 'Create dream', new_dream_path %>
    <br>
    <br>
</div>
<br>
<br>
 <div class="banner" style="background-image: url('<%= image_url("http://eeerik.com/apps/WhoRU/img/6.nightmare.gif") %> ')">
</div>
<br>
<br>
<div class="container">
  <h3>Has the nightmare just begun?</h3>
</div>

<br>
<br>





