<div class="container">
  <h1>Dreams</h1>
  <div class="cards">
    <% @dreams.each do |d| %>

      <div class="card" onclick="dream_path(d.id)" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(<%= image_path d.image_url%>)">
        <div class="card-content">
          <h3><%= d.title  %></h3>
          <h5><%= d.category %></h5>
          <h5>$<%= d.price %></h5>

          <%= link_to 'Show', dream_path(d.id) %>
          <%= link_to 'Edit', edit_dream_path(d) %>
          <%= link_to 'Destroy', d, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
    </div>
<%= link_to 'New', new_dream_path %>
</div>

