<div class="container">
  <br>
  <br>
  <h3>Choose your dream:</h3>
  <br>
  <div class="cards">

    <% @dreams.each do |d| %>
      <%= link_to dream_path(d) do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(<%= image_path d.image_url%>)">
        <div class="card-content">
          <h1><strong><%= d.title  %></strong> </h1>
          <p><%= d.category %></p>
          <p style="font-size: 33px">$<%= d.price %></p>
        </div>
      </div>
      <% end %>
    <% end %>
    </div>
    <br>
    <%= link_to 'Create dream', new_dream_path %>
    <br>
    <br>
</div>

