
<div class="container">
  <br>
  <br>
  <!-- [search form] -->
  <%= form_tag dreams_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a dream"
    %>
  <% end %>
  <!-- the list of movies -->
  <br>
  <br>

  <h1 style="font-size: 33px;">Choose your dream:</h1>
  <br>
  <div class="cards">
    <% @dreams.each do |d| %>
      <% url = d.photo.file.nil? ? image_url("inception.png") : cl_image_path(d.photo) %>
        <%= link_to dream_path(d.id) do %>
        <div class="card" style=" background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('<%= url %>')">
          <div class="card-content">
            <h1><strong><%= d.title  %></strong> </h1>
            <p><%= d.category %></p>
            <p style="font-size: 33px">$<%= d.price %></p>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
    <br>
    <% if escapist_signed_in? %>
      <%= link_to 'Create dream', new_dream_path, class: "btn" %>
    <% else %>
      <%= link_to 'Create dream', new_escapist_session_path, class: "btn" %>
    <% end %>
</div>
<br>
<br>
<br>
<div class="container">
  <h5 style="font-size: 13px; text-align: center; color: #FA2EF5;">Has the nightmare just begun?</h5>
</div>
<br>
<br>
<br>




