


      <%= link_to 'Dream', new_dream_neurolink_path(@dream.id), class: "btn flex-fill mb-3" %>
      <br>
      <h5 style="font-weight: bold;"> <%= @dream.category %></h5>

      <% if escapist_signed_in? %>
        <%= link_to 'Edit', edit_dream_path(@dream), class: "btn flex-fill" %>
      <% else %>
        <%= link_to 'Edit', new_escapist_session_path, class: "btn flex-fill" %>
      <% end %>

      <% if escapist_signed_in? %>
        <%= link_to 'Destroy', @dream, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn flex-fill" %>
      <% else %>
        <%= link_to 'Destroy', new_escapist_session_path, class: "btn flex-fill" %>
      <% end %>





