<div class="container">
  <br>
  <%= link_to 'Back home', dreams_path %>
    <div>
      <%= link_to 'Edit', edit_dream_path(@dream) %>
      <%= link_to 'Destroy', @dream, method: :delete, data: { confirm: 'Are you sure?' } %>

    </div>
      <img src="" alt="">

      <div>
        <h1><strong><%= @dream.title %></strong></h1>
        <h5> <%= @dream.category %></h5>
        <p> <%= @dream.description %></p>
      </div>

      <div class="footer-show">
        <h2><strong>$<%= @dream.price %></strong></h2>
      </div>
<br>

</div>

