<div class="container">
    <div>
      <h1> <%= @dream.title %></h1>
      <h3> <%= @dream.category %></h3>

    </div>
    <img src="" alt="">

    <div>
      <p> <%= @dream.description %></p>
    </div>

    <div class="footer-show">
      <h3><%= @dream.price%>$</h3>
    </div>

    <%= cl_image_tag @dream.photo, height: 300, width: 400, crop: :fill %>
    <p><%= link_to 'Edit', edit_dream_path(@dream)  %></p>
    <p><%= link_to 'Back home', dreams_path %></p>



</div>




