
      <br>
 <% url = @dream.photo.file.nil? ? image_url("inception.png") : cl_image_path(@dream.photo) %>
 <div class="banner" style="background-image: url('<%= url %>')">
</div>
<br>
<br>
<div class="container cont" style="width: 950px">
<%= link_to dreams_path, id: "back" do %>
  <i class="fas fa-long-arrow-alt-left" style="font-size: 33px"></i>
<% end %>
  <br>
    <div>
      <div class="d-flex justify-content-between">
        <h1 style="color: #FA2EF5; font-weight: lighter;"><strong><%= @dream.title %></strong></h1>
        <h1 style="font-size: 50px"><strong>$<%= @dream.price %></strong></h1>
      </div>
      <h5 style="font-weight: bold;"> <%= @dream.category %></h5>
      <br>
      <p> <%= @dream.description %></p>
    </div>
    <br>
    <br>

  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <%= simple_form_for [@dream, @neurolink] do |f| %>
      <!--  <div class="d-flex justify-content-between"> -->
        <%= f.input :date, as: :date, required: false, input_html: {class: "datepicker flex-fill"} %>
        <br>
      <!--</div> -->
      <% if escapist_signed_in? %>
        <%= f.button :submit, "Dream", class: "btn flex-fill mb-3" %>
      <% else %>
        <%= link_to 'Dream', new_escapist_session_path, class: "btn flex-fill" %>
      <% end %>
    <% end %>
    <!--  </div> -->

  </div>
  <br>
  <br>
  <br>
</div>


<!-- <div class="w"> -->
      <%# if escapist_signed_in? %>
        <%#= link_to 'Edit', edit_dream_path(@dream), class: "btn flex-fill" %>
      <%# else %>
        <%#= link_to 'Edit', new_escapist_session_path, class: "btn flex-fill" %>
      <%# end %>

      <%# if escapist_signed_in? %>
        <%#= link_to 'Destroy', @dream, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn flex-fill" %>
      <%# else %>
        <%#= link_to 'Destroy', new_escapist_session_path, class: "btn flex-fill" %>
      <%# end %>
    <!-- <div class="container"> -->






