<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

  <% @dreams.group_by { |dream| dream[:category] }.each do |category, dreams| %>
  <h2><%= category %></h2>
  # etc.
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex">
          <% dreams.each_with_index do |p, i| %>
            <div class="span3">
              <a href="#"><img src=<%= cl_image_path(.photo) %> alt="first image" class="d-block w-100 img-responsive"></a>
            </div>
          <% end %>
        </div>

    </div>
      </div>
      <div class="carousel-item">
        <div>
          <% dreams.each_with_index do |p, i| %>
            <div class="span3">
                <a href="#"><img src=<%= cl_image_path(.photo) %> alt="first image" class="d-block w-100 img-responsive"></a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<% categories = ["Daydream", "Epic Dream"] %>

<div class="my-slider">
    <div class="d-flex justify-content-between">
    <h2 class="mb-0">Categories</h2>
    <ul class="controls align-bottom" id="customize-controls" aria-label="Carousel Navigation" tabindex="0" style="list-style: none;">
      <li class="prev mr-1" data-controls="prev" aria-controls="customize" tabindex="-1">
        <i class="fas fa-angle-left"></i>
      </li>
      <li class="next" data-controls="next" aria-controls="customize" tabindex="-1">
        <i class="fas fa-angle-right"></i>
      </li>
    </ul>
  </div>

  <% categories.each do |c| %>
    <%= link_to dreams_path Dream.where("#{c} = ?", params[:category]) do %>

      <div class="card " style=" background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('inception.png')">
      </div>
    <% end %>
  <% end %>

</div>





<% @dreams.group_by { |dream| dream[:category] }.each do |category, dreams| %>
  <div class="d-flex justify-content-between">
    <h2 class="mb-0"><%= category %></h2>
    <ul class="controls align-bottom" id="customize-controls" aria-label="Carousel Navigation" tabindex="0" style="list-style: none;">
      <li class="prev mr-1" data-controls="prev" aria-controls="customize" tabindex="-1">
        <i class="fas fa-angle-left"></i>
      </li>
      <li class="next" data-controls="next" aria-controls="customize" tabindex="-1">
        <i class="fas fa-angle-right"></i>
      </li>
    </ul>
  </div>

      <div class="my-slider">
      <% dreams.each_with_index do |p, i| %>
        <% url = p.photo.file.nil? ? image_url("inception.png") : cl_image_path(p.photo) %>
        <%= link_to dream_path(p.id) do %>
        <div class="card " style=" background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('<%= url %>')">
            <div class="card-content">
              <h1><strong><%= p.title  %></strong> </h1>
              <p><%= p.category %></p>
              <p style="font-size: 33px">$<%= p.price %></p>
            </div>
        </div>
        <br>
        <br>
        <% end %>
      <% end %>
      </div>
    <% end %>




        <% @dreams.each do |d| %>
          <% url = d.photo.file.nil? ? image_url("brain.svg") : cl_image_path(d.photo) %>
          <%= link_to '#' do %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(https://il3.picdn.net/shutterstock/videos/2313281/thumb/1.jpg)">
              <div class="card-content">
                <h1><strong><%= d.title  %></strong> </h1>
                <p><%= d.date %></p>
                <p style="font-size: 33px">$<%= d.price %></p>
              </div>
            </div>
          <% end %>
        <% end %>

